@model QLKhachSan.Models.Datphong

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Datphong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DpMa" class="control-label"></label>
                <input asp-for="DpMa" class="form-control" />
                <span asp-validation-for="DpMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpTgnhan" class="control-label"></label>
                <input asp-for="DpTgnhan" class="form-control" />
                <span asp-validation-for="DpTgnhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpTgtra" class="control-label"></label>
                <input asp-for="DpTgtra" class="form-control" />
                <span asp-validation-for="DpTgtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhMa" class="control-label"></label>
                <select asp-for="KhMa" class ="form-control" asp-items="ViewBag.KhMa"></select>
            </div>
            <div class="form-group">
                <label asp-for="NvMa" class="control-label"></label>
                <select asp-for="NvMa" class ="form-control" asp-items="ViewBag.NvMa"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

