@model QLKhachSan.Models.Dichvu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dichvu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DvMa" class="control-label"></label>
                <input asp-for="DvMa" class="form-control" />
                <span asp-validation-for="DvMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DvTen" class="control-label"></label>
                <input asp-for="DvTen" class="form-control" />
                <span asp-validation-for="DvTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DvGia" class="control-label"></label>
                <input asp-for="DvGia" class="form-control" />
                <span asp-validation-for="DvGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DvSlnhap" class="control-label"></label>
                <input asp-for="DvSlnhap" class="form-control" />
                <span asp-validation-for="DvSlnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DvTonkho" class="control-label"></label>
                <input asp-for="DvTonkho" class="form-control" />
                <span asp-validation-for="DvTonkho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

