@model QLKhachSan.Models.Hoadon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hoadon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HdMa" class="control-label"></label>
                <input asp-for="HdMa" class="form-control" />
                <span asp-validation-for="HdMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdTgnhan" class="control-label"></label>
                <input asp-for="HdTgnhan" class="form-control" />
                <span asp-validation-for="HdTgnhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdTgtra" class="control-label"></label>
                <input asp-for="HdTgtra" class="form-control" />
                <span asp-validation-for="HdTgtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdTongtien" class="control-label"></label>
                <input asp-for="HdTongtien" class="form-control" />
                <span asp-validation-for="HdTongtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhMa" class="control-label"></label>
                <select asp-for="KhMa" class ="form-control" asp-items="ViewBag.KhMa"></select>
            </div>
            <div class="form-group">
                <label asp-for="NvMa" class="control-label"></label>
                <select asp-for="NvMa" class ="form-control" asp-items="ViewBag.NvMa"></select>
            </div>
            <div class="form-group">
                <label asp-for="PMa" class="control-label"></label>
                <select asp-for="PMa" class ="form-control" asp-items="ViewBag.PMa"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

