@model QLKhachSan.Models.Hoadon

@{
    ViewData["Title"] = "Create";
}

<div class="all-content-wrapper">
    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>THÊM HÓA ĐƠN</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form asp-action="Create">
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="HdMa" class="login2 pull-right pull-right-pro">Mã Hóa Đơn</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="HdMa" type="text" class="form-control" readonly />
                                                            </div>
                                                            <span asp-validation-for="HdMa" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="HdTgnhan" class="login2 pull-right pull-right-pro">Thời Gian Nhận</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="HdTgnhan" type="text" class="form-control" />
                                                                <span asp-validation-for="HdTgnhan" class="text-danger"></span>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="HdTgtra" class="login2 pull-right pull-right-pro">Thời Gian Trả</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="HdTgtra" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="HdTgtra" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="HdTongtien" class="login2 pull-right pull-right-pro">Tổng Tiền</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="HdTongtien" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="HdTongtien" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> 
                                                                <label asp-for="KhMa" class="login2 pull-right pull-right-pro">Khách Hàng</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select asp-for="KhMa" class ="form-control" asp-items="ViewBag.KhMa"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label  asp-for="NvMa" class="login2 pull-right pull-right-pro">Nhân Viên</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select asp-for="NvMa" class ="form-control" asp-items="ViewBag.NvMa"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label  asp-for="PMa" class="login2 pull-right pull-right-pro">Phòng</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select asp-for="PMa" class ="form-control" asp-items="ViewBag.PMa"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left">
                                                                        <input class="btn btn-sm btn-primary login-submit-cs" type="submit" value="Thêm mới" class="btn btn-primary" />
                                                                        <button class="btn btn-white" asp-action="Index"><i class="fa fa-home adminpro-home-admin" aria-hidden="true"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>