@model QLKhachSan.Models.Khachhang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Khachhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KhMa" class="control-label"></label>
                <input asp-for="KhMa" class="form-control" />
                <span asp-validation-for="KhMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhHoten" class="control-label"></label>
                <input asp-for="KhHoten" class="form-control" />
                <span asp-validation-for="KhHoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhGioitinh" class="control-label"></label>
                <input asp-for="KhGioitinh" class="form-control" />
                <span asp-validation-for="KhGioitinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhSdt" class="control-label"></label>
                <input asp-for="KhSdt" class="form-control" />
                <span asp-validation-for="KhSdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhDiachi" class="control-label"></label>
                <input asp-for="KhDiachi" class="form-control" />
                <span asp-validation-for="KhDiachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhCmnd" class="control-label"></label>
                <input asp-for="KhCmnd" class="form-control" />
                <span asp-validation-for="KhCmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhEmail" class="control-label"></label>
                <input asp-for="KhEmail" class="form-control" />
                <span asp-validation-for="KhEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

