@model QLKhachSan.Models.Khachhang

@{
    ViewData["Title"] = "Create";
}

<div class="all-content-wrapper">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>THÊM KHÁCH HÀNG</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form asp-action="Create">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhMa" class="login2 pull-right pull-right-pro">Mã Khách Hàng</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhMa" type="text" class="form-control" readonly />
                                                            </div>
                                                            <span asp-validation-for="KhMa" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhHoten" class="login2 pull-right pull-right-pro">Họ Tên</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhHoten" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="KhHoten" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhGioitinh" class="login2 pull-right pull-right-pro">Giới Tính</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhGioitinh" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="KhGioitinh" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhSdt" class="login2 pull-right pull-right-pro">Số Điện Thoại</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhSdt" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="KhSdt" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhDiachi" class="login2 pull-right pull-right-pro">Địa chỉ</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhDiachi" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="KhDiachi" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhCmnd" class="login2 pull-right pull-right-pro">CMND</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhCmnd" type="text" class="form-control" />
                                                            </div>
                                                            <span asp-validation-for="KhCmnd" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label asp-for="KhEmail" class="login2 pull-right pull-right-pro">Email</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input asp-for="KhEmail" type="email" class="form-control" placeholder="Placeholder" />
                                                            </div>
                                                            <span asp-validation-for="KhEmail" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left">
                                                                        <input class="btn btn-sm btn-primary login-submit-cs" type="submit" value="Thêm mới" class="btn btn-primary" />
                                                                        <button class="btn btn-white" asp-action="Index"><i class="fa fa-home adminpro-home-admin" aria-hidden="true"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   